/* Privacy.css */

.privacy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 230px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  ul {
    margin-left: 20px;
  }
  
  /* Customize the styling further as needed */
  