/* Terms.css */

.terms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 110px;
  }
  
  .terms-content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 18px;
    margin-top: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  