.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #141e30, #243b55);
    overflow: hidden;
  }
  
  .login-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding: 40px;
    text-align: center;
    width: 350px;
  }
  
  h2 {
    color: #333;
  }
  
  .login-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  }
  
  .login-form button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .signup-link a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  